



<div >

      <% @events.each_with_index do |event, index|%>
  <% if index %3 == 0 %>
    <div class="row">
    <%end %>
        <div class="<%= @col_classes[index %3 ] %>">
          <div class="<%= @card_classes[rand(0...@card_classes.length)] %>">
            <div class="card-content white-text">
              <span class="card-title"><strong><%= event.title%></strong></span>
              <p><%= event.desc %></p>
              <div class="row">
                <div class="col s12 m12">
                  <span class="card-title"> <i  class="material-icons">date_range </i>When ?</span>
                  <p><%= event.when %></p>
                </div>
                <div class="col s12 m12">
                  <span class="card-title"><i class="material-icons">location_on </i>Where ?</span>
                  <p><%= event.where %></p>
                </div>
              </div>
            </div>
          </div>
        </div>

  <% if index %3 == 2 %>
    </div>
  <%end %>
      <% end %>
</div>